// Raleway font
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// Nunito font
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#root{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    #mainBody{
        flex-grow: 1;
        height: 100%;
    }
}

.wrapper{
    display: flex;
}
.wrap{
    margin: auto;
    width: 80%;
}

.avatar{
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    img{
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    &.avatar-sm{
        width: 64px;
        height: 64px;
    }
    &.avatar-md{
        width: 96px;
        height: 96px;
    }
    &.avatar-lg{
        width: 120px;
        height: 120px;
    }
}
.ml-40px{
    margin-left: 40px;
}
// 404 NOT FOUND PAGE
#notfound{
    display: flex;
    width: 100%;
    height: 100vh;
    .notfound{
        margin: auto;
        .notfound-404{
            // height: 240px;
            text-align: center;
            h3{
                font-family: 'Cabin', sans-serif;
                color: #262626;
                margin: 0px;
                letter-spacing: 3px;
                padding-left: 6px;
            }
            h1{
                padding: 0;
                font-family: 'Montserrat', sans-serif;
                font-size: 252px;
                font-weight: 900;
                margin: 0px;
                color: #262626;
                text-transform: uppercase;
                letter-spacing: -40px;
                margin-left: -20px;
                span{
                    text-shadow: -8px 0px 0px #fff;
                }
            }
        }
        h2{
            font-family: 'Cabin', sans-serif;
            font-size: 20px;
            font-weight: 400;
            text-transform: uppercase;
            color: #000;
            margin-top: 0px;
            margin-bottom: 25px;
        }
    }
}

.img-picker{
    input{
        display: none;
    }
    cursor: pointer;
    background: #457B9D;
    border-radius: 1px;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 60px;
    &:hover{
        background: #112D4E!important;
        border-color: #112D4E;
    }
}

.image-carousel{
    // width: 640px;
    max-width: 100%;
    max-width: 640px;
    .current-image{
        width: 100%;
        max-width: 100%;
        height: 400px;
        border-radius: 2px;
        position: relative;
        overflow: hidden;
        img{
            position: absolute;
            min-width: 100%;
            min-height: 100%;
            width: 100%;
            height: 100%;
            top:50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .image-previews{
        margin-top: 16px;
        display: flex;
        gap: 16px;
        width: 100%;
        overflow: hidden;
        .image-preview{
            width: 96px;
            height: 96px;
            position: relative;
            border-radius: 2px;
            overflow: hidden;
            &.active,&:hover{
                border: 2px solid #457B9D;
                box-sizing: border-box;
            }
            img{
                position: absolute;
                min-width: 100%;
                min-height: 100%;
                height: 100%;
                top:50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}