#subs{
    .nav-tabs{
        margin: 0;
        border: none;
        .nav-item{
            margin: 0;
            .nav-link{
                border: none;
                border-bottom: 1px solid #EBF5F7;
                font-weight: 500;
                font-size: 16px;
                line-height: 18px;
                color: #636363!important;
                &.active{
                    color: #333333!important;
                    border-bottom: 1px solid #457B9D;
                }
            }
        }
    }
    p{
        margin-top: 130px;
        text-align: center;
    }
    .sub{
        display: flex;
        margin-bottom: 24px;
        &:first-of-type{
            margin-top: 32px;

        }
        .avatar{
            margin-right: 16px;
        }
        .author-info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .author-name{
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #000000;
            }
            .author-car{
                margin-top: 8px;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: #636363;
    
            }
        }
    }
}