#profile{
    margin-bottom: 72px;
    .profile-top{
        padding: 40px 0 32px;
        margin-bottom: 32px;
        display: flex;
        border-bottom: 1px solid #EBF5F7;
        .wrap{
            margin: auto 0;
            width: 100%;
            .h1{
                font-weight: 500;
                font-size: 24px;
                line-height: 24px;
                color: #000000;
            }
            .h5{
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                font-feature-settings: 'pnum' on, 'lnum' on;
                color: #8E8E8E;
            }
        }
    }

    .nav-pills{
        .nav-item{
            .nav-link{
                cursor: pointer;
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                color: #C7C7C7!important;
                background: #fff!important;
                margin: 0;
                border-radius: 0;
                &.active{
                    background: #EBF5F7!important;
                    
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 24px;
                    color: #333333!important;
                }
            }
            &.mod{
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                display: flex;
                align-items: center;
                color: #333333;
                padding: 8px 16px;
                margin-top: 40px;
            }
        }
    }

    .avatar-change{
        display: flex;
        justify-items: center;
        gap: 32px;
        margin-bottom: 32px;
        .avatar-btns{
            margin: auto 0;
            gap: 16px;
            display: flex;
            .avatar-upload{
                cursor: pointer;
                background: #457B9D;
                border-radius: 1px;
                padding: 6px 32px;
                font-weight: 500;
                font-size: 18px;
                line-height: 20px;
                color: #FFFFFF;
                height: auto;
                input{
                    display: none;
                }
            }
            .avatar-remove{
                background: none;
                color: #457B9D;
                border: 1px solid #457B9D;
                padding: 6px 32px;
            }
        }
    }
}