#pagination{
    .page-item{
        .page-link{
            border:none;
            font-family: 'Nunito', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #000000;
            background: none;
            text-decoration: none;
        }
        &.active{
            .page-link{
                text-decoration: underline;
            }
        }
    }
}