#search{
    width: 540px;
    border: 1px solid #C2C2C2;
    padding: 12px 16px;
    form{
        display: flex;
        padding: 0;
        gap: 12px;
        input{
            font-weight: 400;
            font-size: 16px;
            line-height: 18px;
            padding: 0;
            border: none;
            flex-grow: 1;
            &:focus{
                box-shadow: none;
            }
        }
        button{
            background: none;
            width: 22px;
            height: 22px;
            padding: 0;
            margin: 0;
            &:focus{
                box-shadow: none;
            }
            &:hover{
                background: none!important;
                background-color: none!important;
                border: none;
            }
        }
    }
}